@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf9f6;
  --background-secondary: #faf9f6;
  --background-third: #fdfdfd;
  --heading: #18645c;
  --heading-secondary: #062c29;
  --text:  #07312d;
  --divider-color: #d9d4ce;
  
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-secondary: #191919;
    --background-third:  #191919;
    --heading: #fbfbfb;
    --heading-secondary: #ffffff;
    --text: #E9E9E9;
    --divider-color: #0a0a0a; /* mörkare i dark mode */
  }
  
}

body {
  color: var(--heading);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 4em; 
  color: var(--heading);
  
}
h2 {
	font-size: 28px; 
  font-weight: 400;
  color: var(--heading);
}
h3 {
  font-size: 22px;
  margin-top: 1rem;

  font-weight: 600;
  color: var(--heading);
}
h4{
  font-size: 18px;
  font-weight: 600;
  color: var(--heading-secondary, var(--heading));
  
}
h5{
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  color: var(--heading-secondary, var(--heading));
  
}
p{
  
  color: var(--text, var(--heading));
  
}

ul{
   color: var(--text, var(--heading));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

